= simple_form_for(comment, url: url) do |f|
  = f.input :content, as: :text, label: false, wrapper_html: { class: 'form-group '}, input_html: { class: 'form-control mb-2' }
  = f.button :submit, class: 'btn btn-primary mb-4'